.header {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-left: 25px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header__logo {
  margin-left: 10px;
  margin-right: 10px;
  height: 60px;
  object-fit: contain;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__input {
  display: flex;
  align-items: center;
  width: 55%;
  border: 1px solid grey;
  border-radius: 2px;
}

.header__input > input {
  flex: 1;
  border: none;
  padding: 5px;
}

.header__inputButton {
  width: 60px !important;
  background-color: #fafafa;
  border-left: 1px solid grey;
  color: grey;
  padding: 3px;
}

.header__icon {
  margin-right: 20px;
}
