.header {
  display: flex;
  align-items: center;
  /* padding: 0px 20px; */
  padding-left: 15px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  /* flex: 1; */
  width: 100% !important;
  z-index: 100;
  background-color: white;
  border-bottom: 1px solid grey;
}

.header__menuIcon {
  cursor: pointer;
}

.header__logo {
  margin-left: 10px;
  /* margin-right: 10px; */
  height: 10vh;
  object-fit: contain;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__input {
  display: flex;
  align-items: center;
  width: 55%;
  border: 1px solid grey;
  border-radius: 2px;
}

.header__input > input {
  flex: 1;
  border: none;
  padding: 5px;
  background-color: rgb(243, 241, 241);
}

.header__inputButton {
  width: 60px !important;
  background-color: #fafafa;
  border-left: 1px solid grey;
  color: grey;
  padding: 3px;
}

.header__icon,
.header__avatar,
.header__searchIcon {
  margin-right: 20px;
}

@media only screen and (min-width: 430px) {
  .header__searchIcon {
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  .header__input,
  .header__icon,
  .header__menuIcon {
    display: none !important;
  }

  .header__searchIcon {
    font-size: 40px !important;
  }

  .header__avatar {
    margin-right: 5px !important;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100vw !important;
    min-width: 340px;
    margin-right: 20px !important;
    margin-top: 0px;
  }
}
