.recommendedVideos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0px !important;
  flex: 1;
  background-color: rgb(240, 245, 240);
  padding-top: 40px;
  padding-bottom: 0;
  margin-left: 70px;
  padding-left: 20px;
  /* padding-right: 10px; */
  width: 100%;
}

.recommendedVideos > h2 {
  margin-left: 20px;
  margin-bottom: 30px;
}

.recommendedVideos__videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 770px) {
  .recommendedVideos {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;
    margin-left: 5px;
    padding-top: 20px;
    margin-right: 0px !important;
    margin-left: 0px;
    padding-left: 10px;
  }
}
