.searchPage {
  background-color: rgb(240, 245, 240);
  padding-top: 40px;
  padding-bottom: 0;
  margin-left: 60px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}

.searchPage__filter {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: rgb(102, 102, 102);
  font-size: xx-small !important;
}

.searchPage > hr {
  color: rgb(102, 102, 102);
  height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}
